* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.header {
    display: flex;
    justify-content: center;

    padding: 2em;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;

}

.grid-master {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    row-gap: 2em;
}

.grid-box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: 8em;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 0%);
}

.grid-box:hover {
    background-color: blue;
    transition-duration: .2s;
}

.footer {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 2em;
  }


/* Desktop Changes */
@media all and (min-width: 700px) {
    
    .header {
        justify-content: initial;
        font-size: 1.25rem;
    }
    
    .grid-master {
        flex-direction: row;
        column-gap: 2em;
    }

    .grid-box {
        width: 10em;
        height: 10em;
    }

    .footer {
        position: absolute;
    }
}