* {
    box-sizing: border-box;
    
}

body {
margin: 0px;
padding: 0px;
border: 0px;

font-family: 'Montserrat', sans-serif;

}


.header-container {
    display: flex;
    justify-content: center;
    padding: 1em;
    padding-bottom: 2em;

    font-size: 0.75rem;
}

.grid-master {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: center;
    text-decoration: none;
    flex-wrap: wrap;

}

.grid-box, .grid-box:link, .grid-box:visited {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 85%;
    height: 7em;
    border-radius: 1em;
    margin: 1em;

    font-size: 1.25rem;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 0%);
    text-decoration: none;
}


.grid-box:hover {
    background-color: blue;
    transition-duration: .2s;
}

.footer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* padding-top: 2em; */
  }


/* Desktop Changes */
@media all and (min-width: 700px) {
    
    .header {
        justify-content: initial;
        font-size: 1.25rem;
    }

    .grid-box, .grid-box:link, .grid-box:visited {
        width: 25vw;
        height: 25vh;
    }
}
/* || Moon.html CSS || */

.moon-object {

    /* display: table;     */
    /* margin:20px auto; */
    text-align: center;    
    color:black;
    padding: 5px 30px;
    }
    .moon-object [shadow]{
    filter:drop-shadow(0 0 10px hsla(0, 0%, 0%, 0.25));
    padding:10px 0;

    pointer-events: none;
    cursor: default;
    opacity: 0.6;
    }

    .moon-quiz-form input[type=number] {
        border: 2px solid black;
        border-radius: 4px;
        -moz-appearance: textfield;
      }
/* Gets rid of arrow buttons on number input */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        /* margin: 0; */
    }

    .master-moon-flex {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        row-gap: 2em;
        /* column-gap: 15em; */
    }
