* {
    box-sizing: border-box;
    
}

:root {
    font-size: 16px;
    --header-font: 'Bungee Hairline', cursive;
    --paragraph-font: 'Roboto', sans-serif;
  
    --background-darkest-color: #0e0a14;
    --background-middle-color: #3f376f;
  
    height: 100%;
    --standard-fade-speed: 1.5s;
    background: linear-gradient(180deg, var(--background-darkest-color) 0%, var(--background-middle-color) 100%);
    color:white;
}

body {
    
margin: 0px;
padding: 0px;
border: 0px;

}

/* || Moon.html CSS || */

.moon-object {

    /* display: table;     */
    /* margin:20px auto; */
    text-align: center;    
    padding: 5px 30px;
    }
    .moon-object [shadow]{
    filter:drop-shadow(0 0 10px hsla(0, 0%, 0%, 0.25));
    padding:10px 0;

    pointer-events: none;
    cursor: default;
    opacity: 0.6;
    }

    .moon-quiz-form input[type=number] {
        border: 2px solid white;
        border-radius: 4px;
        -moz-appearance: textfield;
      }
/* Gets rid of arrow buttons on number input */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        /* margin: 0; */
    }

    .master-moon-flex {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        row-gap: 2em;
        /* column-gap: 15em; */
    }
