* {
    box-sizing: border-box;

    /* useful debugging */
    /* background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important; */
}

html, body {
    margin: 0px;
    padding: 0px;
    color: #D7D9CE;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}



/* |||||||| Header / SplashScreen |||||||| */

.header-container {
  /* Fallback for browsers that do not support Custom Properties */
    height: 100vh; 

    /* standard calculated height. Offers more consistency between mobile and web */
    height: calc(var(--vh, 1vh) * 100);
    overflow-x: hidden;
    
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;       
}
  
  .svgStarCanvas {
    display: block;
    overflow-x: hidden;
    background: #3f376f;
    background: linear-gradient(180deg, #1d1d43 0%, #3f376f 70%, #68363d 100%);
    height: 80%;
    width: 100%;
  }

  .star {
    fill: white;
    animation: pulse var(--star-animation-duration, 1000ms) infinite backwards,
    glowing var(--star-animation-glow-duration, 1000ms) infinite alternate backwards;
    animation-delay: var(--star-animation-delay, 0);
  }

  .header-splashname {
    overflow-y: hidden;
    position: absolute;
    text-align: center;
    /* annoying issue where the transform makes the horizontal bulge out a few pixels and make a horizontal scroll... hence the 99% */
    width: 99%;
    bottom: 60%;
    
    font-family: 'Knewave', cursive;
    font-size: 3.5em;
    font-weight: 400;
    line-height: 1em;
    text-shadow: 2px 6px 10px hsla(0, 0%, 0%, 0.150 );
    transform: rotate(-1.5deg);
  }

.svg-tree-shape {
    position: absolute;
    overflow: hidden;
    min-height: 15vh;
    bottom: 19.8%;
    
    fill: #0e0a14;
    z-index: 1000;
}

.header-blackbox.navbar {
    height: 20%;
    display: flex;
    align-items: center;  
    justify-content: space-evenly;
    background-color: #0e0a14;
}

.header-blackbox.navbar > a {
    text-decoration: none;
    color: #D7D9CE;
    font-family: 'Roboto', sans-serif;


}

.header-blackbox.navbar > a:hover {
    color: white;
    transition-duration: .3s;
}



/* |||||||||| Main Page Content |||||||||| */

.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background: rgb(29,29,67);
    background: linear-gradient(180deg, #0e0a14 0%, rgba(63,55,111,1) 100%);
}

.card {
    display: block;
    margin-top: 1em;
    height: 40vh;
    width: 80%;
    background: rgba(14, 10, 20, 0.5);
}

/* |||||||| MEDIA QUERIES |||||||| */

/* \/\/ DESKTOP \/\/ */
@media screen and (min-width: 1000px) {

  .header-splashname {
    font-size: 6.5em;
  }

}


/* |||||||| ANIMATIONS |||||||| */

@keyframes pulse {
    0% {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.2, 1.2, 1.2);
    }
  
    70% {
      transform: scale3d(0.2, 0.2, 0.2);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes glowing {
    0% {
      opacity: var(--star-brightness, 1);
    }
  
    100% {
      opacity: calc(var(--star-brightness, 1) * 0.5);
    }
  }

