* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    color: #D7D9CE;
    overflow-x: hidden;
}



/* |||||||| Header / SplashScreen |||||||| */

.header-container {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;       
    display: flex;
    flex-direction: column;
}

.header-skybox {
    width: 100%;
    height: 75%;

    /* background: rgb(29,29,67);
    background: linear-gradient(180deg, #1d1d43 0%, #3f376f 70%, #68363d 100%); */

    background: #3f376f;
    /* background: linear-gradient(180deg, #3f376f, #3f376f,#3f376f, #3f376f, #68363d); */
    /* background-size: 200% 200%;

    -webkit-animation: backgroundGradient 20s ease infinite;
    -moz-animation: backgroundGradient 20s ease infinite;
    -o-animation: backgroundGradient 20s ease infinite;
    animation: backgroundGradient 20s ease infinite; */
}

.svg-star-map {
    position: relative;
    /* margin: 0; */
    /* padding: 0; */
    height: 125%;
    width: 100%;
    top: -8vh;
    left: -5vw;
    z-index: 1;
}

.svg-tree-shape {
    position: absolute;
    overflow: hidden;
    
    min-height: 15vh;
    bottom: 24.9%;
    fill: #0e0a14;
    z-index: 1000;
}

.header-blackbox  {
    width: 100%;
    background-color: #0e0a14;
    z-index: 1000;

}

.header-blackbox.splashname {
    display: flex;
    justify-content: space-evenly;
    z-index: 1000;

}

.header-blackbox.navbar {
    display: flex;
    align-items: center;  
    justify-content: space-evenly;
    flex: 1;
    z-index: 1000;
}



/* |||||||||| Main Page Content |||||||||| */

.main-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    z-index: 100000;

    /* background-color: #0e0a14; */
    background: rgb(29,29,67);
    background: linear-gradient(180deg, #0e0a14 0%, rgba(63,55,111,1) 100%);

}

.card {
    z-index: 1000;
    margin-top: 1em;
    display: block;
    height: 40vh;
    width: 70vw;
    background: rgba(14, 10, 20, 0.5);
    /* background: hsla(0, 0%, 0%, 0.5); */
}

.spotify-widget {
    width: 50%;
    height: 100%;
}



/* |||||||| Animations |||||||| */

.star-rotation {

    animation: starMapRotation 1080s linear infinite; /* put infinite instead of 1 later */
    transform-origin: 50% 50%;
    z-index: 0;

}

@-webkit-keyframes backgroundGradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes backgroundGradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes backgroundGradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes backgroundGradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

@keyframes starMapRotation {
    from {transform: rotate(0deg); }
    to {transform: rotate(360deg); }
}
