* {
    box-sizing: border-box;
}

body {
    /* background-color: #0e0a14; */
    margin: 0px;
    padding: 0px;
    /* border: 0px; */    
    color: #D7D9CE;
    overflow-x: hidden;
}

/* || Header / SplashScreen || */


.header-container {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;       
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
}

.header-skybox {
    display: flex;
    width: 100%;
    height: 75%;

    background: rgb(29,29,67);
    background: linear-gradient(180deg, rgba(29,29,67,1) 0%, rgba(63,55,111,1) 70%, rgba(104,54,61,1) 100%);
}

.header-blackbox  {
    width: 100%;
    
    background-color: #0e0a14;
    transition: all .5s;
}

.header-blackbox.navbar {
    display: flex;
    align-items: center;  
    justify-content: space-evenly;
    flex: 1;
}  

.header-blackbox.splashname {
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    /* height: 20%; */
}

.sticky-navigation {
    position: fixed;
    top: 0;
    color: orangered;
}

/* .svg-tree-container {
    display: flex; 
    overflow: hidden; 
    justify-content: space-evenly;
    position: absolute;
    max-height: 18vh;
    bottom: 39.9%;
    
    height: 18vh;
     width: 100%;
    overflow: hidden;
} */

.svg-tree-shape {
    position: absolute;
    
    min-height: 15vh;
    bottom: 24.9%;
    /* width: 100%; */
    /* max-width: 100%; */
    fill: #0e0a14;
    stroke: none;
    /* fill: pink; */
    overflow: hidden;
}


/* || Main Page Content || */


.main-container {

    display: flex;
    flex-direction: row;

    width: 100%;
    /* background-color: #0e0a14; */
    background-color: white;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.egg {
    margin-top: 1em;
    display: block;
    height: 40vh;
    /* width: 2 fr; */
    background-color: mediumslateblue;
}


/* =================================== */


.arrows {
	width: 80px;
	height: 80px;
	position: absolute;
	left: 50%;
	margin-left: -20px;
	bottom: 20px;
}

/* doesnt work yet */

.big-dipper {
    animation: star-rotation 1s infinite;
    -webkit-animation: star-rotation 1s infinite;
}   

.arrows path {
	stroke: #ffffff;
	fill: transparent;
	stroke-width: 3px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0; transform:translateY(10px)}
80% {opacity:1; transform:translateY(50px)}
100% {opacity:0; transform:translateY(50px)}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0; transform:translateY(10px)}
80% {opacity:1; transform:translateY(50px)}
100% {opacity:0; transform:translateY(50px)}
}

.arrows path.a1 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari and Chrome */
}

/* doesn't work yet */

@keyframes star-rotation 
{
    0% {transform: rotate(20,10,10)}
    100% {transform: rotate(50,50,50)}
}
@-webkit-keyframes star-rotation 
{
    0% {transform: rotate(20,10,10)}
    100% {transform: rotate(50,50,50)}
}