* {
  box-sizing: border-box;
  /* --- DEBUGGING --- */

  /* background: #000 !important; */
  /* color: #0f0 !important;
  outline: solid #f00 1px !important; */
}

:root {
  font-family: var(--main-font);
  color: var(--main-white);
  font-size: var(--default-font-size);
  background-color: var(--background-darkest-color);

  --header-splash-font: 'Bungee Hairline', cursive;
  --main-font: 'Roboto', sans-serif;
  --default-font-size: 16px;

  --main-white: #D7D9CE;
  --pure-white: #ffffff;
  --background-darkest-color: #0e0a14;
  --background-middle-color: #3f376f;

  --standard-fade-speed: 1.5s;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* |||||||| Header / SplashScreen |||||||| */

.header-container {
  height: 80vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

.header-social-media-links {
  position: fixed;
  z-index: 9999;
  top: 1rem;
  right: 0rem;
  /* fixes weird almost invisible padding */
  font-size: 0;
}

.header-social-media-links * {
  padding-right: .75rem;
}


.header-splashname {
  overflow-y: hidden;
  z-index: 100;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 60%;

  font-family: var(--header-splash-font);
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 1em;

  /* makes text non-highlightable */
  cursor: default;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.header-background {
  height: 100%;
  display: block;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.starmap {
  display: block;
  height: 100%;
  width: 100%;
  background: var(--background-middle-color);
  background: linear-gradient(180deg, #1d1d43 0%, var(--background-middle-color) 70%, #68363d 100%);
}

/* https://www.satellytes.com/blog/twinkling-night-sky-with-shooting-stars-made-in-svg */
.star {
  animation: pulse var(--star-animation-duration) infinite backwards, glowing var(--star-animation-glow-duration) infinite alternate backwards;
  animation-delay: var(--star-animation-delay);
  fill: var(--pure-white);
}

.svg-tree-shape {
  position: absolute;
  overflow-x: hidden;
  min-height: 15vh;
  bottom: 0rem;
  fill: var(--background-darkest-color);
  z-index: 9000;
}

.navigation-container, .navigation-container * {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--background-darkest-color);
  
  text-decoration: none;
  outline: none;
  color: var(--main-white);
}

.navigation-container *:hover {
  color: var(--pure-white);
  transition-duration: .15s;
}


/* |||||||||| Main Page Content |||||||||| */

.main-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background: linear-gradient(180deg, var(--background-darkest-color) 10%, var(--background-middle-color) 100%);
  padding-top: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  min-height: 30vh;
  border-radius: 10px;
  
  margin: 0rem 0rem 2rem 0rem;
  background: rgba(14, 10, 20, 0.5);
}

.card-header {
  display: block;
  padding-left: 7rem;

  font-size: 1.5em;
  font-weight: 700;
}

.card-paragraph {
  padding: 0 1.5rem 1rem 2rem;
}

.card-img {
  position: absolute;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  
  top: -2rem;
  left: -1.2rem;
  background-color: var(--background-darkest-color);
  box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.5);
}

.card-img.me {
  background-image: url('myself.jpg');
}

.card-img.cat {
  background-image: url('cat.jpg');
}

.card-img.me3 {
  background-image: url('me3.jpg');
}




/* |||||||| MEDIA QUERIES |||||||| */

/* \/\/ DESKTOP \/\/ */
@media screen and (min-width: 1000px) {

  .header-splashname {
    font-size: 6.5em;

    background: -webkit-linear-gradient(white 20%, rgb(64, 56, 113) 40%, white 60%, #403871 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .main-container {
    flex-direction: row;
    padding: 3rem 15vw 0 15vw;
  }
  
  .card {
    width: 25vw;
    font-size: 1.5rem;
  }
}


/* |||||||| ANIMATIONS |||||||| */

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  70% {
    transform: scale3d(0.2, 0.2, 0.2);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes glowing {
  0% {
    opacity: var(--star-brightness);
  }

  100% {
    opacity: calc(var(--star-brightness));
  }
}

.fade-in {
  animation: fadeIn ease var(--standard-fade-speed);
  -webkit-animation: fadeIn ease var(--standard-fade-speed);
  -moz-animation: fadeIn ease var(--standard-fade-speed);
  -o-animation: fadeIn ease var(--standard-fade-speed);
  -ms-animation: fadeIn ease var(--standard-fade-speed);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.fade-in-header {
  animation: fadeInHeader ease var(--standard-fade-speed);
  -webkit-animation: fadeInHeader ease var(--standard-fade-speed);
  -moz-animation: fadeInHeader ease var(--standard-fade-speed);
  -o-animation: fadeInHeader ease var(--standard-fade-speed);
  -ms-animation: fadeInHeader ease var(--standard-fade-speed);
}

@keyframes fadeInHeader {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  70% {
    transform: translateY(0px);
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeInHeader {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  70% {
    transform: translateY(0px);
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInHeader {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  70% {
    transform: translateY(0px);
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeInHeader {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  70% {
    transform: translateY(0px);
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeInHeader {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  70% {
    transform: translateY(0px);
  }

  100% {
    opacity: 1;
  }
}